<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>{:L('wallet_manage')}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
	</head>
	<body>
		<header>
			<h3 class="tc lhbg">
				<i class="go"></i>
				{:L('wallet_manage')}
			</h3>
		</header>
		<div class="main purseAddress">
			<ul>
			<volist name='res' id='vo'>
				<li>
					<div>
						<h3 class="ovh">
							<img src="{$Think.const.PUB_IMG}log.png" alt="" class="fl">
							<span class="fl">MC</span>
							<em class="fr">{:L('wallet_sign')}:{$vo.name}</em>
						</h3>
						<p>{$vo.address}</p>
					</div>
					<p class="purse-btn">
						<a href="javascript:;" class='del' data-id="{$vo.id}">{:L('delete')}</a>
						<a href="{:U('finance/zcwallet',array('id'=>$vo['id']))}">{:L('modify')}</a>
					</p>
				</li>
			</volist>
			</ul>
			<div class="additem">
				<a href="{:U('finance/zcwallet')}"><img src="{$Think.const.PUB_IMG}additem.png" alt=""></a>
			</div>
		</div>
	</body>
	<script src="{$Think.const.PUB_JS}set.js"></script>
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<script src="{$Think.const.PUB_JS}global.js"></script>
	<script>
	$(function(){
		$('.del').click(function(){
			var obj = $(this),id=$(this).data('id');
			layer.confirm("{:L('delete_confirm')}",function(){
				$.post("{:U('finance/ajax_address_del')}",{id:id},function(data){
					if(data.info == 'success'){
						layer.msg(data.msg,{time:2000,icon:1},function(){
							obj.parents('li').remove();
						})
					}else{
						layer.msg(data.msg,{time:2000,icon:5})
					}
				},'json')
			})
		})
	})
	</script>
</html>