<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>{:L('menu_cb')}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
    <style>
      .qrcode img{display:block;margin:0 auto;width:200px;}
    </style>
	</head>
	<body>
		<div class="main chargingMoney">
			<div class="user-info">
				<img src="{$Think.const.PUB_IMG}usbg.png" alt=""class="usbg">
				<div class="user-txt">
					<h3 class="tc">{:L('menu_cb')}</h3>
					<div class="flex-box user-head">
						<img src="{$Think.const.PUB_IMG}ht.png" alt="">
						<div class="flex-1">
							<h4>{:L('hello')}，{$userinfo['realname'] ? $userinfo['realname'] : 'MC' }！</h4>
							<p>{$Think.session.phone}</p>
						</div>
					</div>
					<div class="tc flex-box user-total">
						<div class="flex-1">
							<p>{:L('income')}</p>
							<h4>{$shouyi*1}</h4>
						</div>
						<div class="flex-1">
							<p>{:L('shizhi')}</p>
							<h4>{$usercoin['lth']*$config['price']}</h4>
						</div>
						<div class="flex-1">
							<p>MC{:L('coin')}</p>
							<h4>{$usercoin['lth']*1}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="charging-item">
				<h3><i class="mon"></i>{:L('wallet_address')}</h3>
				<h4 class="ovh">
					<span class="fl copybox">{$qianbao}</span>
					<span class="fr copy" data-clipboard-action="copy" data-clipboard-target=".copybox">{:L('copy')}</span>
				</h4>
			</div>
			<div class="charging-item">
				<h3><i class="qr"></i>{:L('wallet_qrcode')}</h3>
				<p class="qrcode" id="qrcode"></p>
			</div>
			<div class="charging-item">
				<h3><i class="notice"></i>{:L('notice')}</h3>
				<p class="notice-txt">1.{:L('notice_1')}</p>
				<p class="notice-txt">2.{:L('notice_2')}</p>
			</div>
		</div>
		<footer>
	<ul class="tc ovh">
		<li class="active">
			<a href="{:U('finance/myzr')}">
				<i class="charge"></i>
				<span>{:L('menu_cb')}</span>
			</a>
		</li>
		<li>
			<a href="{:U('finance/myzc')}">
				<i class="carry"></i>
				<span>{:L('menu_tb')}</span>
			</a>
		</li>
		<li>
			<a href="{:U('finance/index')}">
				<i class="wallet"></i>
				<span>{:L('menu_qb')}</span>
			</a>
		</li>
		<li >
			<a href="{:U('user/index')}">
				<i class="use"></i>
				<span>{:L('menu_wd')}</span>
			</a>
		</li>
	</ul>
</footer>

	</body>
	<script src="{$Think.const.PUB_JS}set.js"></script>
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<script src="{$Think.const.PUB_JS}global.js"></script>
	<script src="{$Think.const.PUB_LIB}qrcode.min.js"></script>
	<script src="{$Think.const.PUB_JS}clipboard.min.js"></script>
	<script>
		function showmsg(msg) {
		var c = $(".showmsg").attr("class");
		if (c == 'showmsg') {
		$(".showmsg").fadeIn(100);
		$(".showmsg>span").text(msg);
		} else {
		var htm = '<div class="showmsg"><span>' + msg + '</span></div>';
		$("body").append(htm);
		$(".showmsg").fadeIn(100);
		}
		setTimeout(function() {
			$(".showmsg").fadeOut(100);
			}, 1500);
		}
		window.onload =function(){
			var clipboard = new ClipboardJS('.copy');
			clipboard.on('success', function(e) {
				showmsg("{:L('copyed')}");
			});
			clipboard.on('error', function(e) {
				showmsg("{:L('copy_error')}")
			});
		}
	</script>
	<script>
	$(function(){
		new QRCode(document.getElementById('qrcode'), "{$qianbao}");
	})
	</script>
</html>