<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}html5shiv.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">
	<input type='hidden' name='id' id='id' value="{$info.id}" />
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$info.username}" placeholder="" id="username" name="username">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>职能描述：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$info.descript}" placeholder="" id="descript" name="descript">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="无需修改请留空" id="pwd" name="pwd">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="无需修改请留空" id="pwd2" name="pwd">
		</div>
	</div>
	
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select" name="group_id" size="1" id='group_id'>
				<option value="">请选择角色</option>
				<volist name='role' id='vo'>
				<if condition="$vo['id'] eq $info['group_id']">
				<option value="{$vo.id}" selected>{$vo.title}</option>
				<else />
				<option value="{$vo.id}">{$vo.title}</option>
				</if>
				
				</volist>
			</select>
			</span> </div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="button" id='submit' value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$Think.const.PUB_LIB}layer/2.4/layer.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			password:{
				required:true,
			},
			password2:{
				required:true,
				equalTo: "#password"
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "xxxxxxx" ,
				success: function(data){
					layer.msg('添加成功!',{icon:1,time:1000});
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
<script>
$(function(){
	$('#submit').click(function(){
		var id = $('#id').val();
		var username = $('#username').val();
		var descript = $('#descript').val();
		var pwd = $('#pwd').val();
		var pwd2 = $('#pwd2').val();
		var group_id = $('#group_id').val();
		$.ajax({
			url:"{:U('auth/ajax_admin_edit')}",
			data:{id:id,username:username,pwd:pwd,pwd2:pwd2,group_id:group_id,descript:descript},
			type:"post",
			dataType:"json",
			success:function(data){
				if(data.info == 'success'){
					layer.msg(data.msg,{time:2000,icon:6},function(){
						parent.location.reload();
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					})
				}else{
					layer.msg(data.msg,{time:2000,icon:5})
				}
			}
		})
	})
})
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>