<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>{:L('register')}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
	</head>
	<body>
		<header>
	<h3 class="tc lhbg">
		<i class="go"></i>
		{:L('register')}
	</h3>
</header>
		<div class="main register">
			
				<ul>
					<li><i class="icphone"></i><input type="text"placeholder="{:L('phone')}" id="phone"></li>
					
					<li><i class="icname"></i><input type="text"placeholder="{:L('realname')}" id='realname'></li>
					<li class="active">
						<i class="icpay"></i><input type="password" placeholder="{:L('password_login')}" id='password'>
						<!--<i class="hided"></i>-->
					</li>
					<li><i class="icpwd1"></i><input type="password"placeholder="{:L('paypassword')}" id='paypassword'></li>
					<li><i class="icrec"></i><input type="number" placeholder="{:L('refer')}" id='refer'></li>
				</ul>
				<div class="reg-box">
					<p class="tc"id="area">
						<span class="active" data-id='1'><i></i>{:L('zone1')}</span>
						<span  data-id='2'><i></i>{:L('zone2')}</span>
					</p>
					
					<p class="tc reg-btn"><button class="lhbg mod-btn" id='register'>{:L('submit')}</button></p>
					<p class="tr logbtn"><a href="{:U('login/password')}">{:L('login')}</a></p>
				</div>
			
		</div>
		
	</body>
	<script src="{$Think.const.PUB_JS}set.js"></script>
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<script src="{$Think.const.PUB_JS}global.js"></script>
	
<script>
		function hasClass(element, cls) {
			return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
		}
		
		window.onload = function(){
			var arSp = area.getElementsByTagName('span');
				
				for(var i=0;i<arSp.length;i++){
					arSp[i].index = i;
					arSp[i].onclick = function(){
						for(var i=0;i<arSp.length;i++){
							arSp[i].className = '';
						}
						this.className = 'active';
					}
				};
				$('.hided').click(function(){
					var inval = $(this).siblings('input').val();
					if($(this).parent().hasClass('active')){
						$(this).siblings('input').detach();
						$(this).before('<input type="text"  value="'+ inval +'">');
						$(this).parent().removeClass('active');
					}else{
						$(this).parent().addClass('active');
						$(this).siblings('input').detach();
						$(this).before('<input type="password" value="'+ inval +'">');
					}
			});
		}
	</script>	
<script>
$(function(){
	
	
	$('#register').click(function(){
		var obj = $(this);
		obj.prop('disabled',true);
		var phone = $('#phone').val();
		
		var realname = $('#realname').val();
		var password = $('#password').val();
		var paypassword = $('#paypassword').val();
		var refer = $('#refer').val();
		var zone = $('#area .active').data('id');
		
		if(phone == ''){
			layer.msg("{:L('phone_set_empty')}",{time:2000,icon:5});
			obj.prop('disabled',false);
			return false;
		}
		
		if(password == ''){
			layer.msg("{:L('password_set_empty')}",{time:2000,icon:5});
			obj.prop('disabled',false);
			return false;
		}
		if(paypassword == ''){
			layer.msg("{:L('paypassword_set_empty')}",{time:2000,icon:5});
			obj.prop('disabled',false);
			return false;
		}
		if(password == paypassword){
			layer.msg("{:L('newpassword2_set_noequal')}",{time:2000,icon:5});
			obj.prop('disabled',false);
			return false;
		}
		if(refer == ''){
			layer.msg("{:L('refer_set_empty')}",{time:2000,icon:5});
			obj.prop('disabled',false);
			return false;
		}
		$.post("{:U('login/ajax_register')}",{phone:phone,realname:realname,password:password,paypassword:paypassword,refer:refer,zone:zone},function(data){
			if(data.info == 'success'){
				layer.msg(data.msg,{time:2000,icon:1},function(){
					var url = "{:U('login/password')}";
					location.href = url;
				})
			}else{
				layer.msg(data.msg,{time:2000,icon:5});
				obj.prop('disabled',false);
			}
		},'json')
	})
	
	
})
</script>
</html>