<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}html5shiv.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用 <span class="f-14"></span>后台管理系统</p>
	
	
	 <table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">统计信息</th>
			</tr>
		</thead>
		<tbody>			
			<tr>
				<td>当日转入总量</td>
				<td>{$data['zr']}</td>
			</tr>
			<tr>
				<td>当日转出总量</td>
				<td>{$data['zc']}</td>
			</tr>
			<tr>
				<td>平台总量</td>
				<td>{$data['total']}</td>
			</tr>
			<tr>
				<td>当日收益</td>
				<td>{$data['income']}</td>
			</tr>
			<tr>
				<td>动态收益</td>
				<td>{$data['dynamic']}</td>
			</tr>
			<tr>
				<td>静态收益</td>
				<td>{$data['static']}</td>
			</tr>
			<tr>
				<td>扣费金额</td>
				<td>{$data['charge']}</td>
			</tr>
			<tr>
				<td>新增会员</td>
				<td>{$data['users']}</td>
			</tr>
		</tbody>
	</table> 
</div>
<footer class="footer mt-20">
	<div class="container">
		<p><br>
			Copyright &copy;2015-2017 All Rights Reserved.<br>
			本后台系统由<a href=""  title=""></a>提供技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="{$Think.const.PUB_LIB}jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui/js/H-ui.min.js"></script> 

</body>
</html>