.user-info {position:relative;color:#fff}
.user-info .usbg {width:100%;max-height:280px}
.user-info .user-txt {position:absolute;left:0;top:0;width:100%;padding:0 0.34722rem}
.user-info .user-txt h3 {font-size:0.44444rem;line-height:1.11111rem}
.user-info .user-txt p {line-height:0.83333rem;font-size:0.41667rem}
.user-info .user-txt h4 {line-height:1.11111rem;font-size:0.5rem}
.user-info .user-txt .user-head {padding:0.27778rem 0}
.user-info .user-txt .user-head img {display:block;width:1.38889rem;height:1.38889rem;border-radius:50%;vertical-align:middle;border:2px solid #fff}
.user-info .user-txt .user-head div {margin-left:0.27778rem}
.user-info .user-txt .user-head div h4 {font-size:0.41667rem;line-height:0.83333rem}
.user-info .user-txt .user-head div p {font-size:0.38889rem;line-height:0.55556rem}
.user-info .user-txt .user-total {border-top:1px solid #fccf81;padding-top:0.27778rem;line-height:0.69444rem}
.user-info .user-txt .user-total p {font-size:0.36111rem}
.user-info .user-txt .user-total h4 {font-size:0.38889rem}
.user {margin-bottom:1.38889rem}
.user .user-contain ul {margin-top:0.27778rem;border-top:1px solid #eaeaea;background:#FFf}
.user .user-contain ul li {position:relative;line-height:1.38889rem;padding:0 0.34722rem;border-bottom:1px solid #eaeaea}
.user .user-contain ul li a {display:block;font-size:0.41667rem;color:#4e4e4e}
.user .user-contain ul li a i {display:inline-block;margin-right:0.13889rem;width:0.66667rem;vertical-align:middle}
.user .user-contain ul li a i.modify {height:0.55556rem;background:url(../images/mod.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.pwsmanage {height:0.61111rem;background:url(../images/pwsmanage.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.binding {height:0.5rem;background:url(../images/binding.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.assets {height:0.48611rem;background:url(../images/assets.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.charge-record {height:0.55556rem;background:url(../images/chre.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.friend {height:0.55556rem;background:url(../images/friend.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.currency {height:0.55556rem;background:url(../images/cure.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.real {height:0.5rem;background:url(../images/real.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a i.device {height:0.48611rem;background:url(../images/device.png) no-repeat;background-size:100% 100%}
.user .user-contain ul li a .go {position:absolute;top:50%;right:0.34722rem;margin-top:-0.13889rem}
.user .exit-logon {margin:0.55556rem 0;border:none;width:9.27778rem;line-height:1.38889rem;font-size:0.41667rem;color:#fff;background:-webkit-linear-gradient(left,#ffc23a,#e8a717);background:linear-gradient(to right,#ffc23a,#e8a717);border-radius:0.20833rem}
.modify ul,.bindingPhone ul,.pwd-item ul {margin-top:0.27778rem}
.modify ul li,.bindingPhone ul li,.pwd-item ul li {padding:0 0.34722rem;line-height:1.33333rem;border-bottom:1px solid #dddddd;overflow:hidden;background:#fff;font-size:0.38889rem}
.modify ul li label,.bindingPhone ul li label,.pwd-item ul li label {float:left;color:#4e4e4e;width:2.77778rem}
.modify ul li input,.bindingPhone ul li input,.pwd-item ul li input {float:left;padding-left:0.13889rem;line-height:1.33333rem;height:1.33333rem;border:none;color:#999}
.mod-btn {display:inline-block;margin-top:0.55556rem;border:none;width:9.27778rem;line-height:1.38889rem;font-size:0.41667rem;color:#fff;background:-webkit-linear-gradient(left,#ffc23a,#e8a717);background:linear-gradient(to right,#ffc23a,#e8a717);border-radius:0.20833rem}
.bindingPhone .tips,.passwordManagement .tips {line-height:0.91667rem;padding:0 0.34722rem;font-size:0.33333rem;color:#999}
.bindingPhone ul,.passwordManagement ul {margin-top:0}
.bindingPhone ul li label,.passwordManagement ul li label {width:2.08333rem}
.bindingPhone ul li span,.passwordManagement ul li span {float:left;color:#e9a121;cursor:pointer}
.passwordManagement #pwdNav li {float:left;width:50%;line-height:1.33333rem;background:#fff;color:#999;font-size:0.38889rem;cursor:pointer}
.passwordManagement #pwdNav li.active {background:#f4f4f4;color:#e79e1e}
.passwordManagement .pwd-con .pwd-item {display:none}
.passwordManagement .pwd-con .pwd-item ul li {background:transparent}
.passwordManagement .pwd-con .pwd-item ul li input {background:transparent}
.hided {position:absolute;display:inline-block;margin-right:0.13889rem;width:0.5rem;vertical-align:middle;top:50%;right:0.27778rem;margin:-0.09722rem 0.27778rem 0;width:0.36111rem;height:0.19444rem;background:url(../images/hd.png) no-repeat;background-size:100% 100%;cursor:pointer}
.agreement {padding:0 0.34722rem;line-height:1.11111rem;color:#4e4e4e;font-size:0.33333rem}
.agreement i {display:inline-block;margin-right:0.06944rem;width:0.41667rem;height:0.41667rem;border:1px solid #ddd;vertical-align:text-top;cursor:pointer}
.agreement i.active {width:0.41667rem;height:0.41667rem;border:none;background:url(../images/ag.png) no-repeat;background-size:100% 100%;border:none}
.agreement a {display:inline-block;color:#e79e1e}
.register {margin-top:0.27778rem}
.register ul {background:#fff}
.register ul li {position:relative;line-height:1.33333rem;margin:0 0.34722rem;border-bottom:1px solid #dddddd;font-size:0.38889rem}
.register ul li input {padding-left:0.77778rem;width:100%;border:none;line-height:1.33333rem;height:1.33333rem}
.register ul li i {position:absolute;display:inline-block;margin-right:0.13889rem;width:0.5rem;vertical-align:middle;top:50%}
.register ul li i.icphone {margin-top:-0.24306rem;height:0.48611rem;background:url(../images/ph.png) no-repeat;background-size:100% 100%}
.register ul li i.icodetxt {margin-top:-0.22917rem;height:0.45833rem;background:url(../images/co.png) no-repeat;background-size:100% 100%}
.register ul li i.icname {margin-top:-0.25rem;height:0.5rem;background:url(../images/us.png) no-repeat;background-size:100% 100%}
.register ul li i.icpay {margin-top:-0.26389rem;height:0.52778rem;background:url(../images/pwd1.png) no-repeat;background-size:100% 100%}
.register ul li i.icpwd1 {margin-top:-0.26389rem;height:0.52778rem;background:url(../images/pwd1.png) no-repeat;background-size:100% 100%}
.register ul li i.icpwd2 {margin-top:-0.26389rem;height:0.52778rem;background:url(../images/pwd2.png) no-repeat;background-size:100% 100%}
.register ul li i.icrec {margin-top:-0.30556rem;height:0.61111rem;background:url(../images/reco.png) no-repeat;background-size:100% 100%}
.register ul li span {position:absolute;line-height:0.69444rem;right:0.27778rem;color:#e79e1e;font-size:0.33333rem;padding:0 0.20833rem;border:1px solid #e79e1e;border-radius:0.34722rem;cursor:pointer}
.register .reg-box p {padding:0 0.34722rem;line-height:1.11111rem;background:#fff}
.register .reg-box p span {display:inline-block;margin-right:0.20833rem;color:#999;font-size:0.41667rem}
.register .reg-box p span i {display:inline-block;position:relative;margin-right:0.13889rem;width:0.36111rem;height:0.36111rem;vertical-align:middle;border:2px solid #eba425;border-radius:50%;cursor:pointer}
.register .reg-box p span.active i:after {position:absolute;top:50%;left:50%;margin-top:-0.08333rem;margin-left:-0.08333rem;display:inline-block;content:'';width:0.16667rem;height:0.16667rem;background:#eba425;border-radius:50%}
.register .reg-box p.reg-btn button {border-radius:0.69444rem !important}
.register .reg-box p.logbtn {color:#838383;font-size:0.36111rem;text-decoration:underline}
.retrievePassword ul,.resetPassword ul,.login ul {margin-top:0.27778rem;background:#fff;padding:0 0.34722rem}
.retrievePassword ul li,.resetPassword ul li,.login ul li {position:relative;line-height:1.36111rem;border-bottom:1px solid #e9e9e9}
.retrievePassword ul li input,.resetPassword ul li input,.login ul li input {line-height:1.36111rem;padding-left:0.27778rem;height:1.36111rem;border:none;width:100%;font-size:0.41667rem}
.retrievePassword ul li span,.resetPassword ul li span,.login ul li span {position:absolute;right:0;top:0.33333rem;display:inline-block;line-height:0.69444rem;padding:0 0.20833rem;color:#e79e1e;border:1px solid #e79e1e;border-radius:0.34722rem}
.retrievePassword .mod-btn,.resetPassword .mod-btn,.login .mod-btn {border-radius:0.69444rem}
.login {min-height:100vh;background:#fff;line-height:1.11111rem}
.login h3 {color:#292929;font-size:0.44444rem}
.login .loglo {padding:1.25rem 0}
.login .loglo img {display:block;margin:0 auto;width:4.31944rem;height:4.31944rem}
.login .lolink {padding:0.13889rem 0.34722rem}
.login .lolink a {text-decoration:underline;color:#838383;font-size:0.36111rem}
.login .forget {padding:0 0.27778rem;line-height:0.69444rem}
.login .forget a {color:#e8a618;font-size:0.36111rem}
.chargingMoney {margin-bottom:1.52778rem}
.chargingMoney .charging-item {margin-top:0.27778rem;background:#fff;padding:0 0.34722rem}
.chargingMoney .charging-item h3 {margin-bottom:0.20833rem;line-height:1.31944rem;border-bottom:1px solid #ddd;color:#404040;font-size:0.38889rem}
.chargingMoney .charging-item h3 i {display:inline-block;margin-right:0.41667rem;vertical-align:middle}
.chargingMoney .charging-item h3 i.mon {width:0.66667rem;height:0.55556rem;background:url(../images/mon.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.qr {width:0.58333rem;height:0.58333rem;background:url(../images/qr.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.notice {width:0.625rem;height:0.58333rem;background:url(../images/notice.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.num {width:0.66667rem;height:0.45833rem;background:url(../images/num.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.adr {width:0.66667rem;height:0.54167rem;background:url(../images/adr.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.pwd {width:0.66667rem;height:0.63889rem;background:url(../images/pwd3.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h3 i.cod {width:0.66667rem;height:0.41667rem;background:url(../images/cod.png) no-repeat;background-size:100% 100%}
.chargingMoney .charging-item h4 span {line-height:1.11111rem;font-size:0.38889rem}
.chargingMoney .charging-item h4 span.copy {color:#eaa122;cursor:pointer}
.chargingMoney .charging-item p.qrcode {padding:0.625rem 0}
.chargingMoney .charging-item p.qrcode img {display:block;margin:0 auto;width:3.16667rem;height:3.16667rem}
.chargingMoney .charging-item p.notice-txt {line-height:0.69444rem;color:#888;font-size:0.33333rem}
.chargingMoney .charging-item .charging-inpu input {padding-left:0.20833rem;line-height:1.33333rem;width:100%;border:none;font-size:0.38889rem}
.chargingMoney .charging-item .charging-inpu .forget-btn{position: absolute;right: 0;top: 0;display: inline-block;line-height: 1.33333rem;color: #e79e1e;}
.chargingMoney .charging-item .charging-inpu #code {position:absolute;right:0;top:0;display:inline-block;line-height:1.33333rem;color:#e79e1e}
.chargingMoney .charging-item .charging-inpu.selection input {cursor:pointer}
.chargingMoney .charging-item .charging-inpu.selection i {position:absolute;top:50%;right:0.27778rem;display:inline-block;width:0;height:0;border-top:7px solid #888;border-left:5px solid transparent;border-right:5px solid transparent}
.chargingMoney .charging-item .charging-inpu.selection i.active {border-bottom:7px solid #888;border-top:none}
.chargingMoney .charging-item .charging-inpu.selection ul {position:absolute;z-index:2;top:1.38889rem;left:0;width:100%;background:#f9f9f9;border:1px solid #eee;border-radius:5px}
.chargingMoney .charging-item .charging-inpu.selection ul li {line-height:0.83333rem;border-bottom:1px dashed #eee;font-size:0.38889rem}
.chargingMoney .charging-item .charging-inpu.selection ul li:last-child {border-bottom:none}
.chargingMoney .charging-item .charging-inpu.selection ul li:hover,.chargingMoney .charging-item .charging-inpu.selection ul li.hv {background:#ddd;color:#fff}
.showmsg {position:absolute;width:100%;bottom:45%;display:none;z-index:2015;text-align:center}
.showmsg span {color:#ffffff;line-height:0.83333rem;font-size:0.33333rem;padding:0.20833rem 0.27778rem;border-radius:5px;background-color:rgba(0,0,0,0.6)}
.assetManagement .asset-info {margin:0.27778rem 0.34722rem;border-radius:0.27778rem;color:#fff;padding-top:0.20833rem;overflow:hidden}
.assetManagement .asset-info p {line-height:0.55556rem;font-size:0.33333rem}
.assetManagement .asset-info h3 {line-height:1.25rem;font-size:0.83333rem}
.assetManagement .asset-info h4 {line-height:1.04167rem;font-size:0.38889rem}
.assetManagement .asset-info .asset-total {padding:0.27778rem 0;border-top:1px solid #eaeaea}
.assetManagement .asset-info .asset-total div:first-child {position:relative}
.assetManagement .asset-info .asset-total div:first-child:after {position:absolute;top:-0.27778rem;right:0;content:'';display:inline-block;width:1px;height:1.66667rem;background:#eaeaea}
.assetManagement .asset-info .asset-total div p {line-height:0.55556rem;font-size:0.38889rem}
.assetManagement .asset-item {border-top:1px solid #eaeaea;background:#FFf}
.assetManagement .asset-item li {position:relative;line-height:1.38889rem;padding:0 0.34722rem;border-bottom:1px solid #eaeaea}
.assetManagement .asset-item li a {display:block;font-size:0.41667rem;color:#4e4e4e}
.assetManagement .asset-item li a i {display:inline-block;margin-right:0.27778rem;width:0.66667rem;height:0.66667rem;vertical-align:middle}
.assetManagement .asset-item li a i.enter {background:url(../images/enter.png) no-repeat;background-size:100% 100%}
.assetManagement .asset-item li a i.out {background:url(../images/out.png) no-repeat;background-size:100% 100%}
.assetManagement .asset-item li a i.record {background:url(../images/record.png) no-repeat;background-size:100% 100%}
.assetManagement .asset-item li a .go {position:absolute;top:50%;right:0.34722rem;margin-top:-0.13889rem}
.change {margin-top:0.27778rem;background:#FFF}
.change ul {border-top:1px solid #eaeaea}
.change ul li {line-height:1.30556rem;padding:0 0.34722rem;border-bottom:1px solid #eaeaea;overflow:hidden;font-size:0.38889rem}
.change ul li label,.change ul li input {float:left}
.change ul li label {width:2.77778rem;color:#4e4e4e}
.change ul li input {border:none;line-height:1.30556rem;height:1.30556rem}
.change p {padding:0.13889rem 0.34722rem;line-height:0.69444rem;color:#999;font-size:0.27778rem}
.change p em {display:inline-block;color:#eaa324}
.chargeRecord .record-hd {padding:0.27778rem 0.34722rem}
.chargeRecord .record-hd h4 {line-height:0.625rem;font-size:0.36111rem;color:#4e4e4e}
.chargeRecord .record-hd p {line-height:0.48611rem;font-size:0.30556rem;color:#999999}
.chargeRecord .record-hd p span {display:inline-block;margin-right:0.13889rem}
.chargeRecord .record-hd .times {display:inline-block;width:0.48611rem;height:0.54167rem;vertical-align:middle;background:url(../images/recor.png) no-repeat;background-size:100% 100%;color:transparent}
.chargeRecord .record-bd .no-list {margin-top:0.41667rem;line-height:0.69444rem;color:#4e4e4e;font-size:0.41667rem}
.chargeRecord .record-bd ul {padding:0 0.55556rem;background:#fff;border-top:1px solid #eee}
.chargeRecord .record-bd ul li {width:100%;padding:0.13889rem 0;border-bottom:1px solid #eee}
.chargeRecord .record-bd ul li img {display:inline-block;width:0.90278rem;height:0.90278rem}
.chargeRecord .record-bd ul li div div {margin-left:0.27778rem}
.chargeRecord .record-bd ul li div div h4 {line-height:0.69444rem;font-size:0.38889rem;color:#4e4e4e}
.chargeRecord .record-bd ul li div div p {line-height:0.55556rem;font-size:0.27778rem;color:#999999}
.chargeRecord .record-bd ul li div div p span {display:inline-block;margin-right:0.13889rem}
.invitingFriends {color:#4e4e4e}
.invitingFriends h3,.invitingFriends .inviting-con {margin-top:0.27778rem;background:#fff}
.invitingFriends h3 {line-height:1.33333rem;font-size:0.38889rem}
.invitingFriends .inviting-con {padding-top:0.41667rem}
.invitingFriends .inviting-con p {font-size:0.27778rem;line-height:0.83333rem}
.invitingFriends .inviting-con p img {display:inline-block;width:2.09722rem;height:2.09722rem;background-size:100% 100%}
.invitingFriends .inviting-con h4 {font-size:0.33333rem;line-height:1.11111rem;color:#e9a020}
.invitingFriends .inviting-con h4 .dw {display:inline-block;margin-right:0.06944rem;width:0.20833rem;height:0.25rem;background:url(../images/dw.png) no-repeat;background-size:100% 100%}
.inviting-tips,.doubt p {padding:0.34722rem 0.34722rem 0 0.34722rem;line-height:0.69444rem;color:#a7a7a7;font-size:0.33333rem}
.inviting-tips em,.doubt p em {display:inline-block;color:#4e4e4e}
.forceCurrency .user-txt,.myDeviceForce .user-txt {padding-top:0.34722rem}
.forceCurrency .user-txt .user-total,.myDeviceForce .user-txt .user-total {padding-top:0.20833rem}
.forceCurrency .user-txt .user-total h4,.myDeviceForce .user-txt .user-total h4 {line-height:0.55556rem;font-size:0.44444rem}
.doubt {background:#fff;min-height:100vh}
.myDeviceForce {background:#fff}
.realName {padding-bottom:0.27778rem}
.realName ul.upload {padding:0.41667rem 0.34722rem;background:#fff}
.realName ul.upload li {margin-bottom:0.41667rem;position:relative}
.realName ul.upload li .item {position:absolute;width:50%;height:100%;border:1px dashed #e1e1e1;border-radius:10px;max-width:320px}
.realName ul.upload li .item .addImg {display:block;margin:0.55556rem auto 0.27778rem;width:0.66667rem;height:0.66667rem}
.realName ul.upload li .item h4 {line-height:1.11111rem;color:#aaa;font-size:0.36111rem}
.realName ul.upload li .item .upload_input {position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;opacity:0;border:none}
.realName ul.upload li .item .preBlock,.realName ul.upload li .item .preview {position:absolute;display:block;width:100%;left:0;top:0}
.realName ul.upload li .item .delete {position:absolute;right:0;top:0;width:0.55556rem;cursor:pointer;display:none;z-index:3}
.realName ul.upload li .example {display:block;margin-left:50%;width:50%;background-size:100% 100%}
.realName .real-item li,.transferAccounts .real-item li,.addDevice .real-item li {margin-top:0.27778rem;line-height:1.38889rem;background:#fff;padding:0 0.34722rem;font-size:0.41667rem}
.realName .real-item li label,.transferAccounts .real-item li label,.addDevice .real-item li label {float:left;color:#4e4e4e}
.realName .real-item li input,.transferAccounts .real-item li input,.addDevice .real-item li input {float:left;padding-left:0.55556rem;line-height:1.38889rem;height:1.38889rem;width:80%;background:transparent;border:none}
.realName .real-item li.selection,.transferAccounts .real-item li.selection,.addDevice .real-item li.selection {position:relative}
.realName .real-item li.selection i,.transferAccounts .real-item li.selection i,.addDevice .real-item li.selection i {position:absolute;top:50%;right:0.27778rem;display:inline-block;width:0;height:0;border-top:7px solid #888;border-left:5px solid transparent;border-right:5px solid transparent}
.realName .real-item li.selection i.active,.transferAccounts .real-item li.selection i.active,.addDevice .real-item li.selection i.active {border-bottom:7px solid #888;border-top:none}
.realName .real-item li.selection input,.transferAccounts .real-item li.selection input,.addDevice .real-item li.selection input {cursor:pointer}
.realName .real-item li.selection ul,.transferAccounts .real-item li.selection ul,.addDevice .real-item li.selection ul {position:absolute;z-index:2;top:1.41667rem;left:0;width:100%;background:#f9f9f9;border:1px solid #eee;border-radius:5px}
.realName .real-item li.selection ul li,.transferAccounts .real-item li.selection ul li,.addDevice .real-item li.selection ul li {margin:0;line-height:0.97222rem;border-bottom:1px dashed #eee;font-size:0.38889rem}
.realName .real-item li.selection ul li:last-child,.transferAccounts .real-item li.selection ul li:last-child,.addDevice .real-item li.selection ul li:last-child {border-bottom:none}
.realName .real-item li.selection ul li:hover,.realName .real-item li.selection ul li.hv,.transferAccounts .real-item li.selection ul li:hover,.transferAccounts .real-item li.selection ul li.hv,.addDevice .real-item li.selection ul li:hover,.addDevice .real-item li.selection ul li.hv {background:#ddd;color:#fff}
.transferAccounts .real-item {margin-top:0.27778rem;border-top:1px solid #eaeaea}
.transferAccounts .real-item li {margin-top:0;border-bottom:1px solid #eaeaea}
.transferAccounts .amount {padding:0.20833rem 0 0.20833rem 0.34722rem;margin-top:0.27778rem;background:#fff}
.transferAccounts .amount p {line-height:0.97222rem;font-size:0.38889rem;color:#aaa}
.transferAccounts .amount p i {display:inline-block;width:0.70833rem;height:0.70833rem;background:url(../images/amount.png) no-repeat;background-size:100% 100%;vertical-align:middle}
.transferAccounts .amount p input {border:none;border-bottom:1px solid #eaeaea;width:100%;padding-left:0.27778rem;line-height:0.83333rem;height:0.83333rem}
.device .device-item li {margin-top:0.27778rem;padding:0.06944rem 0.34722rem;background:#fff}
.device .device-item li div.device-con {padding:0.13889rem 0;border-bottom:1px solid #ddd}
.device .device-item li div.device-con img {display:block;width:1.04167rem;height:1.04167rem;vertical-align:middle}
.device .device-item li div.device-con .device-txt {padding-left:0.41667rem;color:#4e4e4e}
.device .device-item li div.device-con .device-txt h4 {line-height:0.69444rem;font-size:0.36111rem}
.device .device-item li div.device-con .device-txt p {line-height:0.55556rem;font-size:0.33333rem;color:#4e4e4e}
.device .device-item li div.device-con .tag {display:inline-block;text-align:center;width:1.38889rem;font-size:0.33333rem;color:#eea629}
.device .device-item li p {line-height:0.69444rem;color:#7f7f7f;font-size:0.30556rem}
.device .mod-btn {position:relative}
.device .mod-btn span {display:block;position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;color:transparent}
.addDevice .real-item {border-top:1px solid #eaeaea}
.addDevice .real-item li {border-bottom:1px solid #eaeaea}
.addDevice .addDevice-tips {padding:0.06944rem 0.34722rem;line-height:0.83333rem;color:#999;font-size:0.27778rem}
.addDevice .addDevice-tips em {display:inline-block;color:#eaa324}
#wrapper {position:absolute;z-index:1;top:45px;bottom:48px;left:0;width:100%;overflow:auto}
#scroller {position:relative;-webkit-tap-highlight-color:transparent;float:left;width:100%;padding:0}
#scroller ul {position:relative;width:100%;text-align:left}
#pullDown,#pullUp {text-align:center;height:40px;line-height:40px;padding:5px 10px;font-size:12px;color:#999}
#pullDown .pullDownIcon,#pullUp .pullUpIcon {display:inline-block;width:40px;height:40px;background:url(../images/pull-icon@2x.png) 0 0 no-repeat;-webkit-background-size:40px 80px;background-size:40px 80px;-webkit-transition-property:-webkit-transform;-webkit-transition-duration:250ms;vertical-align:middle}
#pullDown .pullDownIcon {-webkit-transform:rotate(0deg) translateZ(0)}
#pullUp .pullUpIcon {-webkit-transform:rotate(-180deg) translateZ(0)}
#pullDown.flip .pullDownIcon {-webkit-transform:rotate(-180deg) translateZ(0)}
#pullUp.flip .pullUpIcon {-webkit-transform:rotate(0deg) translateZ(0)}
#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon {background-position:0 100%;-webkit-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-webkit-animation-name:loading;-webkit-animation-duration:2s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear}
@-webkit-keyframes loading {from {-webkit-transform:rotate(0deg) translateZ(0)}
to {-webkit-transform:rotate(360deg) translateZ(0)}
}
.purseAddress ul {padding-top:0.34722rem}
.purseAddress ul li {padding:0 0.41667rem;margin-bottom:0.27778rem}
.purseAddress ul li div {background:#fff3de;padding:0.20833rem;line-height:0.69444rem;border:1px dashed #f6d191;border-top-left-radius:0.13889rem;border-top-right-radius:0.13889rem;border-bottom:1px solid #fff}
.purseAddress ul li div img {margin-right:0.20833rem;width:0.69444rem;height:0.69444rem}
.purseAddress ul li div span {color:#a8751c;font-size:0.36111rem}
.purseAddress ul li div em {color:#a8751c;font-size:0.33333rem}
.purseAddress ul li div p {line-height:0.55556rem;color:#a88445;font-size:0.27778rem}
.purseAddress ul li .purse-btn {border-top:1px solid #f3e2c4;overflow:hidden}
.purseAddress ul li .purse-btn a {float:left;width:50%;line-height:0.80556rem;background:#9c9c9c;text-align:center;color:#fff6e6;font-size:0.30556rem;border-right:1px solid #f3e2c4}
.purseAddress ul li .purse-btn a:first-child {border-bottom-left-radius:0.13889rem}
.purseAddress ul li .purse-btn a:last-child {border-bottom-right-radius:0.13889rem;border-right:none}
.purseAddress .additem {margin:0 0.41667rem;height:2.69444rem;background:#f1f1f1;border-radius:0.13889rem;justify-content:center;align-items:center;display:-webkit-flex;border:1.5px dashed #c3c3c3;}
.purseAddress .additem a {display:block}
.purseAddress .additem a img {display:block;width:1.11111rem;height:1.125rem}
.assetManagement .asset-item li a i.purse {background:url(../images/purse.png) no-repeat;background-size:100% 100%;}
