<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}html5shiv.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_LIB}respond.min.js"></script>
<![endif]-->

<!-- <link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Switch/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Switch/bootstrap-switch.css" /> -->
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_LIB}Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.const.PUB_STATIC}h-ui.admin/css/style.css" />


<!--[if IE 6]>
<script type="text/javascript" src="{$Think.const.PUB_LIB}DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>文章发布模块</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 分类管理 <span class="c-gray en">&gt;</span> 分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="post" action="" id='form' enctype="multipart/form-data">
			<!-- <span class="c-primary">添加模块:</span> -->
			<input type="text" name='name' placeholder="分类名称" value="" class="input-text" style="width:150px">
			<input type="text" name='sort' placeholder="排序、默认50" value="" class="input-text" style="width:100px">
			
			
			<span class="select-box" style="width:200px;">
			<select class="select" name="pid" size="1">
				<option value="0" selected>---顶级分类---</option>
				<volist name='cate' id='vo'>
				<option value="{$vo.id}">{$vo.level|str_repeat='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¦---',###}{$vo.name}</option>
				</volist>
			</select>
			</span>
			
			<button type="button" id='submit' class="btn btn-success"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
		</form>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"></span> <span class="r"></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort1">
			<thead>
				<tr class="text-c">
					
					<th width="70">ID</th>
					<th width="120">分类名称</th>					
					<th width="120">排序(值越小越靠前)</th>
					<th width="120">是否显示</th>
					<th width="120">创建时间</th>
					<th width="150">操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name='cate' id='vo'>
				<tr class="text-c">
					
					<td>{$vo.id}</td>
					<td class="text-l">{$vo.level|str_repeat='&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¦---',###}{$vo.name}</td>
					
					<td>{$vo.sort}</td>
					<td>
						<div class="switch"  data-on="success" data-off="warning" id="{$vo.id}">
							<input  class='' type="checkbox" name='status' <if condition="$vo['status'] eq 1" >checked</if> /> 
						</div> 
							
					</td>
					<td>{$vo.createdate|date='Y-m-d H:i:s',###}</td>
					<td class="f-14 product-brand-manage">
					<a style="text-decoration:none" onClick="ajax_edit('分类编辑','{:U('news/category_edit',array('id'=>$vo['id']))}','800','500')" href="javascript:;" title="编辑">
					<i class="Hui-iconfont">&#xe6df;</i></a> 
					<a style="text-decoration:none" class="ml-5 del" id='{$vo.id}'  href="javascript:;" title="删除">
					<i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
					
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
	
</div>
<!--_footer 作为公共模版分离出去-->


<script type="text/javascript" src="{$Think.const.PUB_LIB}Switch/jquery-1.10.2.min.js"></script>
<!-- <script type="text/javascript" src="{$Think.const.PUB_LIB}Switch/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="{$Think.const.PUB_LIB}Switch/bootstrap-switch.js"></script> -->

<script type="text/javascript" src="{$Think.const.PUB_LIB}layer/2.4/layer.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{$Think.const.PUB_STATIC}h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript" src="{$Think.const.PUB_LIB}datatables/1.10.0/jquery.dataTables.min.js"></script> 
<!-- <script type="text/javascript" src="{$Think.const.PUB_LIB}laypage/1.2/laypage.js"></script> -->


<script type="text/javascript">
//
/*编辑内容*/
function ajax_edit(title,url,w,h){
	layer_show(title,url,w,h);
}

$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  //{"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
	]
});
$(function(){
	$('#submit').click(function(){
		var cate = $('input[name=name]').val();
		if(cate == ''){			
			layer.msg('请输入分类名称!', {
				time: 1000, //1s后自动关闭				
			});
			return false;
		}
		
		$.ajax({
			url:"{:U('news/ajax_cate_add')}",
			data:$('#form').serialize(),
			type:"post",
			dataType:"json",
			success:function(data){
				if(data.info =='success'){
					layer.msg(data.msg,{time:2000,icon: 1}, function(){
						location.replace(location.href);//刷新
					});
					
				}else{
					layer.msg(data.msg,{time:2000,icon:2});
				}
			},
		})
	})
	
	//是否显示控制
	///switch
	$('.switch').on('switch-change', function (e, data) {
		var status = 0 ;
		var value = data.value;
		if(value){
			status = 1;
		}
		var id = $(this).attr('id');
		$.ajax({
			url:"{:U('news/ajax_cate_status')}",
			data:{status:status,id:id},
			type:"post",
			dataType:"json",
			success:function(data){
				if(data.info =='success'){
					layer.msg(data.msg,{time:1000,icon: 1});
				}else{
					layer.msg(data.msg,{time:1000,icon: 2},function(){
						location.replace(location.href);
					});
				}
			},
			
		})
	});
	
//删除
$('.del').click(function(){
	var id = $(this).attr('id');
	var obj = $(this);
	layer.confirm('您是否删除此分类？', {
	  btn: ['是','否'] //按钮
	}, function(){		
		$.ajax({
			url:"{:U('news/ajax_cate_del')}",
			data:{id:id},
			type:"post",
			dataType:"json",
			success:function(data){
				if(data.info =='success'){
					layer.msg(data.msg,{time:1000,icon:1}, function(){
						//location.replace(location.href);//刷新
						$(obj).parents('tr').remove();
					});
					
				}else{
					layer.msg(data.msg,{time:1000,icon:2});
				}
			},		
		})
	});
	
})



	
})
</script>
</body>
</html>