<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no"/>
	<title>{:L('user_title')}-{:L('profile_h3')}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}common.css">
	<link rel="stylesheet" href="{$Think.const.PUB_CSS}use.css">
	</head>
	<body>
		<header>
	<h3 class="tc lhbg">
		<i class="go"></i>
		{:L('profile_h3')}
	</h3>
</header>
		<div class="main modify">
			
				<ul>
					<li>
						<label>{:L('realname')}</label>
						<input type="text" placeholder="{:L('realname_p')}" id='realname' value="{$info.realname}">
					</li>
					<li>
						<label>{:L('idcard')}</label>
						<input type="text"placeholder="{:L('idcard_p')}" id="idcard" value="{$info.idcard}">
					</li>
					<li>
						<label>{:L('country')}</label>
						<input type="text"placeholder="{:L('country_p')}" id="country" value="{$info.country}">
					</li>
					<li>
						<label>{:L('address')}</label>
						<input type="text"placeholder="{:L('address_p')}" id='province' value="{$info.province}">
					</li>
					<li>
						<label>{:L('city')}</label>
						<input type="text"placeholder="{:L('city_p')}" id='city' value="{$info.city}">
					</li>
				</ul>
				<p class="tc"><button class="lhbg mod-btn" id='save'>{:L('submit')}</button></p>
			
		</div>
	</body>
	<script src="{$Think.const.PUB_JS}set.js"></script>
	<script src="{$Think.const.PUB_JS}jquery-1.8.2.min.js"></script>
	<script src="{$Think.const.PUB_LIB}layer/layer.js"></script>
	<script src="{$Think.const.PUB_JS}global.js"></script>
	<script>
	$(function(){
		$('#save').click(function(){
			var obj = $(this);
			obj.prop('disabled',true);
			
			var realname = $('#realname').val();
			var idcard = $('#idcard').val();
			var country = $('#country').val();
			var province = $('#province').val();
			var city = $('#city').val();
			
		
			$.post("{:U('user/ajax_profile')}",{realname:realname,idcard:idcard,country:country,province:province,city:city},function(data){
				
				if(data.info == 'success'){
					layer.msg(data.msg,{time:2000,icon:1},function(){
						location.reload();
					})
				}else{
					layer.msg(data.msg,{time:2000,icon:5});
					obj.prop('disabled',false);
				}
			},'json')
			
			
		})
	})
	</script>
</html>